<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.space.date.fast.tool.easy">

    <application
        android:name="com.space.date.fast.tool.easy.Space"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpaceData">
        <activity
            android:name="com.space.date.fast.tool.easy.activity.Ac0906Launch"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.space.date.fast.tool.easy.activity.Ac0906Connect"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity android:name="com.space.date.fast.tool.easy.activity.Ac0906Server"
            android:screenOrientation="portrait"/>
        <activity android:name="com.space.date.fast.tool.easy.activity.Ac0906Result"
            android:screenOrientation="portrait"/>
        <activity android:name="com.space.date.fast.tool.easy.activity.Ac0906Set"
            android:screenOrientation="portrait"/>
        <activity android:name="com.space.date.fast.tool.easy.activity.Ac0906WebView"
            android:screenOrientation="portrait"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    </application>

</manifest>